body {
  font-family: Arial, sans-serif;
  background-color:  rgb(81, 4, 81);
  margin: 0;
  padding: 0;
}
p{color:#eaf4ff;}

.skills-section {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(16, 2, 2, 0.426);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.skills-section h1 {
  text-align: center;
  color: #eaf4ff;
  margin-bottom: 30px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  background-color: #eaf4ff;
  color: #333;
  margin-bottom: 15px;
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.skills-list li:hover {
  background-color: #d0eaff;
}

.skills-list li i {
  margin-right: 12px;
  font-size: 20px;
  color: #0077cc;
}

